*{
    margin: 0px;
    padding: 0px;
}
.fundo{
    
    background-image: linear-gradient(5deg,black, rgb(4, 91, 4));
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    color: white;
    font-size: 20px; 

}

.Calculadora {
     background-color:rgba(0, 0, 0, 0.81);
     position: absolute;
     top:50%;
     left: 50%;
     transform: translate(-50%,-50%);
     padding: 18px;
     border: none;
     border-radius: 5px;
    
}

.Calculadora > h2{
    display: flex;
    justify-content:center;
    margin-top: 10px;
    margin-bottom: 21px;
    font-family: Georgia, 'Times New Roman', Times, serif;
       
}
.botao{
    background-color: gray;
    width: 80px;
    height: 80px;
    margin: 3px;
    cursor: pointer;
    border-radius:5%;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    transition: all 0.2s ease;
    position: relative;
    overflow: hidden; 
    
}
.botao::before {
    content: "";
    position: absolute;
    left: 100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(41, 41, 41);
    transition: all 0.01s ease;
    z-index: -1;
}
.botao:hover::before{
    left: 0;
}

.botao:hover{
    background-color: rgb(56, 55, 55);
    color: white;
    transform: translate(-2px,-1px);
    box-shadow: 0 5px 15px rgba(0, 92, 0, 0.325);
}

#resultado{
    background-color: white;
    color: black;
    height:80px;
    width: 340px;
    margin: 5px;
    margin-left: 4px;
    margin-bottom: 13px;
    padding: 10px 5px 0px ;
    font-size: 41px;
    text-align: right;
}